@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Suez+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Acme', sans-serif;  */
    font-size: 25px;
}

body {
    background: url(./Images/bg\ image.jpg);
}

.main-heading {
    font-family: 'Suez One', serif;
    font-size: 80px;
    position: relative;
    top: 50px;
    background: linear-gradient(to right, #fec468, #fec468);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* border: 3px solid #fff; */
    -webkit-text-stroke: 2px red;
    text-align: center;
}

/* .line{
    height: 5px;
    width: 41rem;
    background-color: red;
    position: relative;
    top: 40px;
    left: 250px;
    border-radius: 5px;
} */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 350px;
    width: 500px;
    background-color: #fec468;
    box-shadow: 10px 10px 5px #045eff;
    border-radius: 20px;
    margin-top: 100px;
    padding: 10px;
}

.left {
    font-family: 'Acme', sans-serif;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: #fff;
    padding: 10px;
    border: 2px solid #045eff;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

/* .num-box {
    padding: 0px 5px;
    border: 2px solid #045eff;
    border-radius: 5px;
} */

.ch-box {
    height: 20px;
    width: 20px;
}

.test-box:hover {
    box-shadow: 2px 5px 3px #444444;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #045eff;
}

#btn {
    height: 2rem;
    width: 50rem;
    padding: 0 20px;
    background-color: #045eff;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

#btn:hover {
    color: #000000;
    background-color: #5592fb;
}